@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


// colors 
$primary : #8F00FF;
$light : #B589D6;
$dark : #6A359C;
$background : #FFFDFA;
$secondary-background : #FFF;
$secondary : #FF69B4;
$dark-pink : #E75480;
$red : #FF7F7F;
$green : #77DD77;
$blue : #89CFF0;
$nav-shadow : rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 10px;






// Fonts 
$Montserrat : 'Montserrat', sans-serif;
$Nunito : 'Nunito', sans-serif;
$Poppins : 'Poppins', sans-serif;
$Roboto : 'Roboto', sans-serif;