@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


// colors 
$primary : #8F00FF;
$light : #B589D6;
$dark : #6A359C;
$background : #FFFDFA;
$secondary-background : #FFF;
$secondary : #FF69B4;
$dark-pink : #E75480;
$red : #FF7F7F;
$green : #77DD77;
$blue : #89CFF0;
$nav-shadow : rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 10px;
$btn-shadow : 0px 8px 15px rgba(0, 0, 0, 0.1);
$btn-secondary-hover : 0px 15px 20px #ff69b46c;
$btn-primary-hover : 0px 15px 20px #9000ff6c;
$text : #525f7f;
$text-heading : #8898aa;
$box-shadow : 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0px rgb(0 0 0 / 2%);
$box-shadow-hover : 0 5px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
$gradient : linear-gradient(165deg, #ff69b4, #ff5fc0, #ff56ce, #ff4cde, #ff43f0, #f939ff, #e330ff, #cb26ff, #b11dff, #9513ff, #760aff, #5600ff);



// Fonts 
$Montserrat : 'Montserrat', sans-serif;
$Nunito : 'Nunito', sans-serif;
$Poppins : 'Poppins', sans-serif;
$Roboto : 'Roboto', sans-serif;