@import "variable";
body {
    background-color: $background;
    width: 100vw;
    min-height: 100vh;
    max-height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    // align-items: center;
    position: relative;
}
.main-app{
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    position: relative;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: $secondary-background;
	border-radius: 10px;
}
::-webkit-scrollbar
{
	width: 5px;
	background-color: $primary;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: $secondary;
}
