@import "variable";

.history-main{
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.history-main-box{
    width: 80%;
    padding: 0 2%;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $secondary-background;
    border-radius: 10px;
    box-shadow: $box-shadow;
    .line{
        width: 100%;
        padding: 1px 0;
        background-color: $text-heading;
        opacity: 0.2;
        margin: 5px 0;
    }
    .empty{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-overflow: ellipsis;
        h4{
            font-size: 18px;
            color: $text-heading;
            font-family: $Nunito;
            font-weight: 500;
            margin: 0;
            padding: 0;
        }
    }
}
.row{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    transition: all 200ms ease;
    &:hover{
        box-shadow: $box-shadow;
    }
    margin: 5px 0;
    &.head{
        margin: 10px 0;
        box-shadow: $box-shadow;
        background-color: $primary;
        border-radius: 10px;
        .col{
            h4{
                font-size: 20px;
                font-family: $Poppins;
                font-weight: 400;
                color: $secondary-background;
            }
        }
    }
    .col{
        height: 40px;
        max-height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 23%;
        max-width: 23%;
        padding: 0 1%;
        text-overflow:ellipsis;
        text-align: start;
        flex-wrap: nowrap;
        text-overflow: clip;
        h4{
            margin: 0;
            padding: 0;
            margin-left: 5px;
            font-size: 16px;
            font-family: $Nunito;
            font-weight: 600;
            color: $text;
            transition: all 200ms ease;
            &.view{
                color: $blue;
                cursor: pointer;
                &:hover{
                    color: $green;
                }
            }
        }
        
    }
}
.object-area{
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 200ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 25px;
        color: $secondary-background;
        transition: all 200ms ease;
        cursor: pointer;
        &:hover{
            color: $red;
        }
    }
    .pdf{
        width: 90%;
        height: 90vh;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            font-size: 20px;
            font-family: $Poppins;
            color: $blue;
            font-weight: 500;
            text-decoration: none;
            border: none;
            transition: all 200ms ease;
            &:hover{
                color: $green;
            }
        }
    }
}