@import "variable";


.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-front-page{
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}
.second-home{
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}
.main-front-content{
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: row;
    &.reverse{
        flex-direction: row-reverse;
    }
    justify-content: space-around;
    align-items: center;
    .left{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .text-box{
            width: 80%;
            margin-left: 120px;
            height: fit-content;
            height: fit-content;
            text-align: left;
            padding: 0;
            h1{
                font-size: 60px;
                margin: 0;
                padding: 0;
                font-family: $Roboto;
                &.primary{
                    color: $primary;
                }
                &.secondary{
                    color: $secondary;
                }
            }
            h4{
                font-size: 16px;
                margin: 0;
                padding: 0;
                font-family: $Poppins;
                font-weight: 200;
                margin-top: 20px;
            }
        }
        .btn{
            margin-left: 120px;
            margin-top: 20px;
        }
    }
    .right{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.main-round{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: $primary;
    opacity: 0.2;
    top: 0%;
    &:nth-child(2){
        top: 70%;
        bottom: 0px;
        left: 20%;
        background-color: $secondary;
    }
    &:nth-child(3){
        top: 10px;
        left: 90%;
        background-color: $secondary;
    }
    &:nth-child(4){
        left: 90%;
        top: 70%;
    }

}
.dot{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $dark;
}
@media only screen and (max-width: 900px){
    .main-round{
        width: 200px;
        height: 200px;
    }
    .main-front-content{
        flex-direction: column-reverse;
        &.reverse{
            flex-direction: column-reverse;
        }
        .left{
            align-items: center;
            width: 100%;
            .text-box{
                width: 70%;
                text-align: center;
                margin-left: 0;
                margin-bottom: 10px;
            }
            .btn{
                margin: 0;
                margin-bottom: 30px;
            }
        }
        .right{
            width: 100%;
        }
    }
}
@media only screen and (max-width: 700px){
    .main-front-content{
        .left{
            .text-box{
                h1{
                    font-size: 40px;
                }
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .main-round{
        width: 150px;
        height: 150px;
    }
}