@import "variable";
.main-nav-bar {
    position: fixed;
    top: 1vh;
    left: 0.5vw;
    min-height: 98vh;
    max-height: fit-content;
    width: 70px;
    background-color: $secondary-background;
    box-shadow: $nav-shadow;
    border-radius: 10px;
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.bar{
    position: fixed;
    display: none;
    top: 10px;
    right: 10px;
    background-color: $secondary-background;
    box-shadow: $box-shadow;
    height: 20px;
    padding: 2px 0;
    width: 30px;
    padding: 5px;
    z-index: 1000;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease;
    span{
        width: 30px;
        height: 1px;
        padding: 1px 0;
        margin: 2.5px 0;
        background-color: $secondary;
        transform: rotate(0);
        transition: all 200ms ease;
    }
    &:hover{
        box-shadow: $nav-shadow;
    }
    &.cross{
        span{
            position: absolute;
            top: 10px;
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                transform: rotateZ(45deg);
            }
            &:nth-child(1){
                transform: rotateZ(-45deg);
            }
        }
    }
}
.nav-toggle {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    padding:5px 0;
    background-color: transparent;
    transition: all 300ms ease;
    border-radius: 50%;
    margin-top: 5px;
    cursor: pointer;
    img{
        width: 60px;
        height: 60px;
        background-position: center;
    }
}
.middle-nav {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-element {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    transition: all 300ms ease;
    text-decoration: none;
    border: none;
    a{
        text-decoration: none;
        outline: none;
    }
    .ele-logo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        align-items: center;
        position: relative;
        cursor: pointer;
        transition: all 300ms ease;
        text-decoration: none;
        outline: none;
        border: none;
        margin: 20px 0;
        &:last-child{
            margin: 30px 0;
        }
        i {
            font-size: 18px;
            color: $secondary;
            transition: all 300ms ease;
            text-decoration: none;
            border: none;
        }
        .tooltiptext {
            opacity: 0;
            width: fit-content;
            padding: 5px;
            background-color: $secondary;
            color: $secondary-background;
            text-align: center;
            border-radius: 5px;
            position: absolute;
            z-index: 10000;
            left: 95%;
            transition: all 300ms ease;
            font-size: 16px;
            font-family: $Nunito;
            font-weight: 200;
            text-decoration: none;
        }
        &:hover{
            .tooltiptext{
                opacity: 1;
            }
            i{
                color: $primary;
            }
        }
    }
}
@media only screen and (max-width: 900px){
    .main-nav-bar{
        left: -100px;
    }
    .bar{
        display: flex;
    }
}
