@import "variable";
.main-prescription {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease;
}
.priscription-box {
    width: 50%;
    height: 60vh;
    background-color: $secondary-background;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .head {
        width: 90%;
        height: fit-content;
        padding: 5px 0;
        margin: 5px 0;
        background-color: $secondary;
        box-shadow: $box-shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        h1 {
            font-size: 24px;
            font-family: $Nunito;
            font-weight: 500;
            color: $secondary-background;
            margin: 0;
            padding: 0;
        }
    }
    .input-area {
        width: 84%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        border-radius: 5px;
        box-shadow: $box-shadow;
        justify-content: space-between;
        padding: 10px 3%;
        input {
            width: 66%;
            height: 30px;
            padding: 3px 2%;
            background-color: $secondary-background;
            box-shadow: $box-shadow;
            outline: none;
            border: none;
            border-radius: 5px;
            transition: all 200ms ease;
            font-size: 16px;
            font-weight: 300;
            font-family: $Poppins;
            &:focus {
                box-shadow: $box-shadow-hover;
            }
        }
    }
    .search-results {
        margin: 5px 0;
        .item {
            border-radius: 5px;
            height: fit-content;
            text-overflow: ellipsis;
            .left{
                height: fit-content;
                text-overflow: ellipsis;
            }
            .right{
                i{
                    &:hover{
                        color: $red;
                    }
                }
            }
        }
    }
    .det-box{
        width: 90%;
    }
}
#show-pdf{
    display: none;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 900px){
    .priscription-box{
        width: 90%;
    }
}