@import "variable";

.main-user-profile{
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.profile-data{
    width: calc(100vw - 100px);
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left{
        width: 30%;
        min-height: 90vh;
        max-height: fit-content;
        background-color: $secondary-background;
        box-shadow: $btn-shadow;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        position: relative;
        .top{
            width: 100%;
            height: fit-content;
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -60px;
            img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }
            .points{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                margin: 20px 0;
                div{
                    width: fit-content;
                    margin: 0 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h2{
                        font-size: 18px;
                        font-family: $Poppins;
                        color: $text;
                        margin: 2px 0;
                        padding: 0;
                    }
                    h4{
                        font-size: 16px;
                        font-family: $Nunito;
                        color: $text-heading;
                        margin: 0;
                        padding: 0;
                        font-weight: 400;
                    }
                }
            }
            .activity{
                width: 100%;
                height: fit-content;
                padding: 5px 0;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h2{
                    font-size: 18px;
                    font-family: $Poppins;
                    margin: 0;
                    padding: 0;
                    margin: 5px 5px;
                    color: $text;
                }
                div{
                    width: 90%;
                    height: fit-content;
                    padding: 10px 0;
                    margin: 10px 0;
                    box-shadow: $box-shadow;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h4{
                        font-size: 16px;
                        font-family: $Poppins;
                        color: $text-heading;
                        font-weight: 300;
                    }
                }
            }
            .today-task{
                width: 100%;
                height: fit-content;
                padding: 5px 0;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h2{
                    font-size: 18px;
                    font-family: $Poppins;
                    margin: 0;
                    padding: 0;
                    margin: 5px 5px;
                    color: $text;
                }
                div{
                    width: 90%;
                    height: fit-content;
                    padding: 10px 0;
                    margin: 10px 0;
                    box-shadow: $box-shadow;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $primary;
                    // background: $gradient;
                    transition: all 200ms ease;
                    cursor: pointer;
                    h4{
                        font-size: 16px;
                        font-family: $Poppins;
                        color: $secondary-background;
                        font-weight: 300;
                    }
                    &:hover{
                        box-shadow: $box-shadow-hover;
                    }
                }
            }
        }
    }
    .right{
        width: 65%;
        min-height: 90vh;
        max-height: fit-content;
        background-color: $secondary-background;
        box-shadow: $btn-shadow;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 1%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .line{
            width: 90%;
            height: 0.1px;
            background-color: $text-heading;
            margin: 20px 0;
            opacity: 0.2;
        }
        .top{
            width: 100%;
            min-height: 70px;
            max-height: fit-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background: $gradient;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            h2{
                font-size: 25px;
                font-family: $Poppins;
                color: $secondary-background;
                margin: 0;
                padding: 0;
                margin-left: 10px;
            }
            .btn{
                margin-right: 10px;
            }
        }
        .detail{
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 30px 0;
            .top-detail{
                width: 100%;
                height: fit-content;
                display: flex;
                margin-bottom: 20px;
                justify-content: flex-start;
                align-items: center;
                h3{
                    font-size: 16px;
                    color: $text-heading;
                    margin: 0;
                    padding: 0;
                    margin-left: 10px;
                    font-family: $Poppins;
                    font-weight: 200;
                }
            }
        }
    }
}
@media only screen and (max-width: 900px){
    .main-user-profile{
        justify-content: center;
    }
    .profile-data{
        width: calc(100vw - 80px);
        flex-direction: column;
        .left{
            margin-top: 70px;
            width: 100%;
            margin-left: 0;
        }
        .right{
            width: 100%;
            .detail{
                .text{
                    &.two{
                        flex-direction: column;
                        .text-area{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .text{
        &.two{
            flex-direction: column;
            .text-area{
                width: 100%;
            }
        }
    }
}